<h1 class="container">Login in <span style="font-weight: bold; color: #08088A">WEBINTEL</span></h1>
<%= render 'form' %>
<div class="container">
[ <%= link_to "I don't have an account", signup_path %>! ]
</div>