<div class="container">
  <footer class="footer">
    <small>
      Albin Hashani &copy; 2023 <br>
    </small>
    <nav>
      <ul>
        <li> <a href="https://www.linkedin.com/in/albin-hashani">LinkedIn</a></li>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>